.page {
  max-width: 880px;
  margin: 0 auto;
  font-family: 'Inter', Arial, sans-serif;
  background-color: #000000;
  padding: 45px 0 60px;
}

@media screen and (max-width: 1000px) {
  .page {
    padding-left: 19px;
    padding-right: 19px;
  }
}

@media screen and (max-width: 750px) {
  .page {
    max-width: 620px;
  }
}
