.profile {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 50px;
}

@media screen and (max-width: 600px) {
  .profile {
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0 auto 36px;
  }
}
