.profile__add-button {
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
  width: 150px;
  height: 50px;
  align-self: center;
  background: transparent url("../../../images/plus-sign.svg") 50% 50% no-repeat;
  background-size: 22px 22px;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: .6;
  transition: .25s;
}

@media screen and (max-width: 750px) {
  .profile__add-button {
    width: 100%;
    margin-top: 36px;
  }
}

@media screen and (max-width: 600px) {
  .profile__add-button {
    background-size: 16px 16px;
  }
}
