.places {
  max-width: 100%;
  margin-bottom: 66px;
}

@media screen and (max-width: 1000px) {
  .places {
    padding-left: 19px;
    padding-right: 19px;
  }
}

@media screen and (max-width: 920px) {
  .places {
    max-width: 620px;
    margin: 0 auto 48px;
  }
}
